body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  background-color: #bbb2e9;
}
.card {
  border: none;
  background-color: #aa9ee9;
}
.card-header {
  background-color: #9786e7;
}
.card-body {
  background-color: #aa9ee9;
}
.alert {
  background-color: #bbb2e9;
  border: none;
}
.btn {
  background-color: #bbb2e9;
  border: none;
  color: black;
}
